body, html {
  height: 100%;
}

a:link, a:visited {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.parallax {
  background-image: url("../assets/1.jpg");
  height: 55%;

    /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.caption {
 position: absolute;
 left: 0;
 top: 20%;
 width: 100%;
 text-align: center;
 color: white;
 font-family: sans-serif;
}

.caption::before,
.caption::after {
 display: inline-block;
 content: "";
 border-bottom: .2rem solid white;
 width: 6rem;
 margin: 0 1rem;
 transform: translateY(-1rem);
}

h1.caption {
  font-size: 65px;
}

.jumbotron-fluid {
  padding: 20px 20px;
  margin: 80px 100px;
}

p {
  margin-top: 20px;
  line-height: 30px;
}
h4{
  margin-top: 10px;
}
